@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");

body {
  font-family: "MuseoModerno", cursive;
}

nav {
  background: #b5c723;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding-right: 2em;
}

nav ul li a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: #000000;
  padding: 0.5em 0.75em;
}

nav #current {
  color: #000000;
  border: solid #000000;
  border-radius: 0.3125em;
}

nav ul li a:hover {
  color: #000000;
  text-decoration: none;
}

/*double check this*/
nav ul li a.active {
  color: #000000;
  text-decoration: none;
  border: solid #000000;
  border-radius: 10px;
}

nav ul li a:active {
  color: #000000;
  text-decoration: underline;
}

@media screen and (min-width: 360px) and (max-width: 875px) {
  nav ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 390px) {
  nav ul {
    flex-direction: column;
    line-height: 2;
  }
}
